/* Common styles for all screen sizes */
 
.head1 #images img {
  width: 50px;
  height: 20px;
}

.head1 #time h4 {
  float: left;
  margin-left: 10%;
  height: 40px;
  margin-top: 2px;
  justify-content: flex-start;
}

.background-image-container {
  background-image: url("image.jpg");
  background-size: cover;
  height: 160vh; 
   align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 95% 100%;
    
    
}

#images {
  justify-content: flex-end;
  float: right;
  margin-top: 2px;
}

#myl-logo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  text-decoration: none;
  margin-left: auto;
  color: #6070ff;
  text-align: start;
  list-style-type: none;
}

.main div h1 {
  /* background-image: url("images/elipse3.png"), url("images/elipse14.png");
  background-position: right top, calc(50% + 100px) bottom;
  background-repeat: no-repeat; */
  text-align: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #172b4d;
  padding-right: 60px;
}

.main div h1 span {
  color: orangered;
}

.main p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #344563;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 40px;
}

.let {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7f8cff;
  margin-left: 15%;
  /* background-image:
    url("images/elipse12.png"),
    url("images/elipse13.png");
  background-position: right bottom, right bottom;
  background-size: 24.14px 12.07px, 30.1px 30.1px;
  background-position-x: 332.18px; */

  /* transform: rotate(176.08deg,-69deg); */
  /* background-repeat: no-repeat; */
}

.social-medias ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  float: left;
}

.social-medias ul :hover {
  background-color: #edf0f4;
  border-radius: 35%;
}

.social-medias ul li {
  float: left;
  display: flex;
  padding-right: 25px;
  padding-left: 6px;
  background-color: #f2f7f3;
  color: aliceblue;
  border-radius: 10px;
}

.main {
  /* background-image:
    url("images/image1.png"),
    url("images/elipse4.png"),
    url("images/rectangle5.png"),
    url("images/elipse5.png"),
    url("images/rectangle7.png"),
    url("images/elipse15.png"),
    url("images/rectangle4.png"),
    url("images/elipse8.png");
  background-position:
    left top,
    bottom center,
    bottom center,
    top center,
    top center,
    bottom left,
    top right,
    calc(50% + 140px) top;
  background-repeat: no-repeat; */
  padding: 10% 10%;
  width: 80%;
  height: auto;
}

/* Styles for mobile screens (375px and above) */

@media screen and (min-width: 375px) {
  .header ul #dropdown {
    display: flex;
    border-radius: 8px;
    padding: 8px;
    width: 52px;
    height: 34px;
    float: right;
    margin-top: -45px;

    /* we will adjust based on the next(project 2,3,4... versions */
  }

  .navbar ul li a {
    width: 100%;
  }
}

/* Styles for desktop screens(for arge screens) i.e (768px and above) */

@media screen and (min-width: 768px) {
  .navbar ul li a {
    width: auto;
    float: left;
  }
}
