.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0006;
}

.modal-content {
  background-color: #5ce360;
  padding: 20px;
  border: 1px solid #888;
  width: 90vw;
  height: 100vh;
  margin: 13%;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  color: #bdb5b5;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.jsLists {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

/* sffdddddddddddddddddddddddddddddddfosjhhhhhh;j */
 
.languages ul li img {
  width: 20px;
  margin-left: 5%;
  border-radius: 50%;
}

.background-image-container {
  background-image: url("images/backgroundm.png");
  background-repeat: no-repeat;
  border: #faf6f6 solid 2px;
}
.contact-me h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: #eee4e4;
}
.box11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.box11 h1 {  /* tonic */
  font-family: var(--font-family);  /*try it*/
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vw 10vw;
}

.main .head1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #172b4d;
  
}

.main p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #344563;
  text-align: left;
  margin-top: 50px;
}

.let {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.social-medias ul {
  display: flex;
  list-style-type: none;
 }
.social-medias ul li {
   margin-right: 30px;
}
.works {
  display: flex;
  width: 100%;
}

.box1 {
  display: flex;
  border: 2px solid #1ee135;
  border-radius: 12px;
  background: white;
  margin: 10px 0;
  width: 100%;
}

.box1:hover {
  /* transform: scale(1.2);
  transition-duration: 5s; */
}

.box1 ul {
  display: flex;
  font-size: 20px;
}

.box11 ul li {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.063em;
  color: #6070ff;
  background: #f6f6f8;
  list-style-type: none;
  margin: 0 10px;
  border-radius: 5px;
  padding: 5px;
}

.about-myself .section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 3px solid #15d45b; */
}
.about-myself .section1 h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

.box1 .see-project button {
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
   padding: 10px;
  letter-spacing: 0.03em;
  color: #396df2;
  border-radius: 20px;
  margin: 20px;
  
}

.box1 p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  color: #344563;
  margin: 15px;
}
.languages {
  display: flex;
  flex-direction: column;
}
.languages ul li  {
  list-style-type: none;
  background-color: #f7f8f8;
  border-radius: 5px;
  margin: 10px;
}

.contact-me p {
  margin: 15%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #eeeef3;
}

.about-myself .section1 p {
  margin: 5% 15%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.lets-connect h3 {
  margin: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.my-resume {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
  margin-top: 30px;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
}

.contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8%;
  border-radius: 100px 3px 3px 3px;
  margin-top: 100px;
  background-image: url("images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  background-color: #4444df;
  border: 2px solid #e7e5f3;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-container {
  color: red;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 40px;
  background-color: lightgrey;
  width: 40%;
  border-radius: 8px;
}

form .input {
  margin: 6% 10%;
  width: 70%;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
}

form textarea {
  margin: 6% 10%;
  width: 70%;
  height: 170px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #f6f1f1;
}

#submit {
  border-radius: 8px;
  padding: 12px 16px;
  width: 142px;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

/* small screen minimum of 375 pixel */
@media screen and (min-width: 375px) {
  .jsLists li {
    padding-right: 30px;
    background: #e8e2e4;
  }

  .modal-content img {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 95px;
  }

  nav {
    color: #fff;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    /* position: fixed; */
    height: 50px;
    width: 100%;
    z-index: 1; /* to make nav bar over all sections */
  }

  nav .mainMenu li a {
    display: flex;
    padding: 15px;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  .hamburger {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 10px;
    width: 30px;
    height: 25px;
    border: solid 2px red;
    padding: 10px;
    cursor: pointer;
  }

  .close {
    display: none;
    position: fixed;
    right: 15px;
    height: 25px;
  }

  .line {
    height: 3px;
    background: #000000;
    margin-bottom: 5px;
  }

  nav .logo {
    margin: 6px;
    cursor: pointer;
  }

  nav .mainMenu {
    display: none;
    list-style-type: none;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 35px;
    flex-direction: column;
    justify-content: center;
    background: #1919c5;
    opacity: 0.8;
    width: 90vw;
   
  }

  .works img {
    margin: 40px ;
    width: 80%;
    border-radius: 8px;
    /* border: #20b509dd solid 3px; */
  }

  .works {
    flex-direction: column;
    border-radius: 16px;
    /* border: 3px solid #b32e0d; */
    background: #f4f2f2;
  }
  .box1 {
    flex-direction: column;
  }

  .about-myself {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #c10d8b;
    border-radius: 12px;
  }
}

/* for desktop some remaining feature will be implement here */
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .background-image-container {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  nav .mainMenu {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    background: transparent;
    list-style-type: none;
    width: 40%;
    height: 30px;
  }

  .works {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .works img {
    width: 40%;
    border-radius: 8px;
    
  }

  .box1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: #fdfefd solid 1px;
    margin: 5px;
  }

  .about-myself {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 40px;
  }
  .about-myself .section1 {
    flex: 2;
    /* border: 2px solid orangered; */
  }
  .about-myself .languages {
    flex: 1;
  }

  .box2 {
    /* display: flex; */
    flex-direction: row-reverse;
  }

  .jsLists li {
    padding-right: 30px;
    background: #e8e2e4;
  }

  .modal-content img {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 300px;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
